.boton-contenedor{
    height: 83px;
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #121212;
    color: #fff;
    border-radius: 25px;
    margin: 4px;
    border: .1rem solid #fff;
    cursor: pointer;
    user-select: none;
    transition: all .4s;
}
.boton-contenedor:hover{
    scale: 1.1;
    transition: all .4s;
}
.operador{
    background-color: #00471b;
}