.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ac0213;
    margin: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    border: .1rem solid #fff;
    cursor: pointer;
    user-select: none;
    border-radius: 25px;
    transition: all .3s;
}
.boton-clear:hover{
    scale: 1.1;
    transition: all .3s;
}